@import '../../../../variables';

.Employees {
  display: grid;
  grid-template-rows: 0.25fr 5fr;
  &__Navbar {
    padding: 0 1rem;
    &__Links {
      display: flex;
      gap: 1rem;
      &__Link {
        cursor: pointer;
        border: none;
        padding: 0.5rem 1rem;
        background-color: $gray-100;
        border: 1px solid $gray-800;
        color: $gray-800;
        border-radius: 0.5rem;
      }
    }
  }
}
