@import '../../variables';

.Manager {
  display: flex;
  justify-content: space-between;
  align-items: start;

  gap: 1rem;

  width: 100%;
  height: 100vh;
  max-height: 100vh;

  &__Sidebar {
    display: grid;
    grid-template-rows: 1fr 6fr;
    width: 20%;
    height: 100%;
    gap: 5rem;
    background-color: $gray-800;

    &__Title {
      padding: 2rem;
      font-size: 1.5rem;
      align-self: center;
      justify-self: start;

      display: flex;
      justify-content: center;
      align-items: center;

      > img {
        width: 70%;
      }
    }
    &__Links {
      padding: 3rem 1rem;
      display: grid;
      grid-template-rows: repeat(6, 1fr);
      gap: 0.5rem;
      height: 60%;
      &__Link {
        width: 80%;
        height: 80%;
        justify-self: center;
        align-self: center;
        background-color: $gray-800;
        border-radius: 0.75rem;

        display: flex;
        justify-content: center;
        align-items: center;
        > p {
          font-weight: 600;
          color: $gray-100;
        }
      }
    }
  }

  &__Dashboard {
    display: grid;
    grid-template-rows: 0.25fr 4fr;
    height: 100vh;
    max-height: 100vh;
    width: 100%;

    &__Utils {
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      > h1 {
        justify-self: start;
        align-self: center;
      }
      > p {
        justify-self: end;
        align-self: center;
      }

      > input {
        background-color: $gray-200;
        border: none;
        color: $gray-800;
        padding: 0.5rem 0.75rem;
        border-radius: 0.5rem;
      }

      > select {
        background-color: $gray-200;
        border: none;
        color: $gray-800;
        padding: 0.5rem 0.75rem;
        border-radius: 0.5rem;
      }
    }
  }
}

.currentpage {
  width: 80%;
  height: 70%;
  justify-self: center;
  align-self: center;
  background-color: $gray-100;
  border-radius: 0.75rem;

  display: flex;
  justify-content: center;
  align-items: center;
  > p {
    font-weight: 600;
    color: $slate-800;
  }
}

.currenttab {
  height: 70%;
  justify-self: center;
  align-self: center;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: none;
  padding: 0.5rem 1rem;
  background-color: $gray-800;
  border-radius: 0.5rem;
  > p {
    font-weight: 600;
    color: $gray-100;
  }
}
